# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized

#### Some of the commonly used libraries used by Data Scientists include:
* Pandas
* Anaconda
* TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
(3*4)+5
print("This is a simple arithmetic expression to mutiply then add integers")

This is a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

In [4]:
print("This will convert 200 minutes to hours by diving by 60")
(200/60)

This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**
- Libraries used by Data Science
- Arithmetic Expressions 
- List popular languages for Data Science

## Author 
#### Naiquen Rodriguez